altgraph==0.17.4
contourpy==1.1.1
cycler==0.11.0
docopt==0.6.2
fonttools==4.42.1
gdcm==1.1
imageio==2.31.6
importlib-metadata==6.8.0
importlib-resources==6.1.0
kiwisolver==1.4.5
lazy_loader==0.3
matplotlib==3.8.0
networkx==3.2
numpy==1.26.0
packaging==23.1
pefile==2023.2.7
Pillow==10.0.1
pydicom==2.4.3
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pykwalify==1.8.0
pyparsing==3.1.1
pyradiomics==3.1.0
python-dateutil==2.8.2
python-gdcm==3.0.22
PyWavelets==1.5.0
pywin32-ctypes==0.2.2
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
scikit-image==0.22.0
scipy==1.11.3
SimpleITK==2.3.0
six==1.16.0
tifffile==2023.9.26
zipp==3.17.0
